.color-legend {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 20px;
  }
  
  .color-legend-item {
    margin-bottom: 0px; /* Space between items */
  }
  
  .color-legend-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* This will be determined by the style attribute on color-legend-item */
    height: 40px; /* Adjust height as needed */
    padding: 0 10px; /* Padding inside the bar for text and count */
  }
  
  .color-legend-text, .color-legend-count {
    color: black; /* Choose a color that contrasts well with your bar colors */
  }
  